<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <style>
        p {
            color: white
        }
    </style>
</head>

<body class="bgdiv">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/updateLog">Updates</a></li>
        <li><a href="/test_entry">Calculator</a></li>
        <li><a href="/privacy">Privacy</a></li>

    </ul>
    <div class="centerBox">
        <h1 style="color:white">
            About
        </h1>
        <div>
            <p> This is a calculator designed to see who got that dawg in them.
            </p>
        </div>
    </div>
</body>

</html>