<html>

<head>
    <!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4963099746269601" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        p {
            color: white
        }
        h2 {
            color: white 
        }
    </style>

    
    <script type=text/javascript>
        $(function() {
          $('a#searchButton').on('click', function(e) {
            e.preventDefault()
            return get_score()
          });

          $('#searchBar').on("keydown", function (e) {
            if(e.keyCode === 13){
                e.preventDefault(); // Ensure it is only this code that runs
                return get_score()
            }
        })

        function get_score() {
            var scoreTag0 = document.getElementById('scoreTag0');
            var username = document.getElementById("searchBar").value
            if (username != "") {
                scoreTag0.textContent = "Barking at rito...";
                scoreTag1.textContent = "";
                scoreTag2.textContent = "";
                scoreTag3.textContent = "";
                $.get('/search', { username: document.getElementById("searchBar").value }, function(data) {                
                    console.log("hitting here")
                    if (data  === "err") {
                        scoreTag0.textContent = "Uh Oh! Something broke! Better nerf Irelia"
                    } else if (data == "NotFound") {
                        scoreTag0.textContent = "Summoner not found! Must be a cat..."
                    } else {
                        var scores = data.split(",")
                        scoreTag0.textContent = scores[0]
                        scoreTag1.textContent = scores[1]
                        scoreTag2.textContent = scores[2]
                        scoreTag3.textContent = scores[3]
                    }
                });
            } else {
                scoreTag.textContent = "Enter a username to get started!"
            }
            return false;
        }
        });
        
        
    </script>
</head>

<body class="bgdiv">
    <div class="wrap">
        <div class="search">
            <form class="searchBarForm" id=test>
                <input type="text" class="searchTerm" placeholder="Username" id="searchBar">
            </form>
            <form class="searchButtonForm">
                <a href=# id=searchButton><button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button></a>
            </form>
        </div>
    </div>
    <div class="scoreDiv">
        <h2 id="scoreTag0"></h2>
        <h2 id="scoreTag1"></h2>
        <h2 id="scoreTag2"></h2>
        <h2 id="scoreTag3"></h2>
    </div>
</body>
</html>